################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Postman/bin/Debug
/Postman/obj/Debug
/Postman/packages
/Postman/.vs/Postman/v15
